@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #171717; /* background color */
  --text-color: #FFFFFF; /* text color */
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  height: 100vh;
}
